.news-items {
  margin: 10px 0;
}

#main_news_list .news-items {
  border: 1px solid gray;
  padding: 5px;
  font-size: 20px;
}

h1 {
  background: gray;
  padding: 20px;
}

.highlight {
  color: red;
}

li {
  background-color: greenyellow;
  border: 1px solid black;
  margin-bottom: 5px;
}
